<p>table comp</p>

<mat-toolbar>
  <span>ListWave: ToDO List</span>
  <!-- <button mat-raised-button color="primary" (click)="addRecord()">Add Record</button> -->
</mat-toolbar>


<table class="table table-striped">

  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>



  <tr *ngFor="let post of dataSource2;">
    <td>{{post.id}}</td>
    <td>{{post.description}}</td>
    <td>{{post.status}}</td>
    <td>
      <button mat-icon-button color="primary" (click)="onEditClick(post)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
    <td>
      <button mat-icon-button color="warn" (click)="onDeleteClick(post)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>

  </tr>


</table>




<article class="table-header">
  <button class="button-remove-rows" mat-button (click)="removeSelectedRows()">
    Remove Rows
  </button>
  <button class="button-add-row" mat-button (click)="addRow()">Add Row</button>
</article>


<table mat-table [dataSource]="dataSource">

  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    
    <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
      <span *ngSwitchCase="'isSelected'">
        <mat-checkbox (change)="selectAll($event)" [checked]="isAllSelected()"
          [indeterminate]="!isAllSelected() && isAnySelected()"></mat-checkbox>
      </span>
      <span *ngSwitchDefault>{{ col.label }}</span>
    </th>

    <td mat-cell *matCellDef="let element of dataSource">
      <div [ngSwitch]="col.type" *ngIf="!element.isEdit">

        <ng-container *ngSwitchCase="'isSelected'">
          <mat-checkbox (change)="element.isSelected = $event.checked" [checked]="element.isSelected"></mat-checkbox>
        </ng-container>

        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="element.isEdit = !element.isEdit">
            Edit
          </button>
          <button mat-button class="button-remove" (click)="removeRow(element.id)">
            Delete
          </button>
        </div>


        <span *ngSwitchDefault>
          {{ element[col.key] }}
        </span>

      </div>


      <div [ngSwitch]="col.type" *ngIf="element.isEdit">

        <div *ngSwitchCase="'isSelected'"></div>

        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="editRow(element)">Done</button>
        </div>

        <mat-form-field class="form-input" *ngSwitchDefault>
          <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
        </mat-form-field>

      </div>
    </td>


  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>