<p>table comp</p>

<mat-toolbar>
  <span>ListWave: ToDO List</span>
  <!-- <button mat-raised-button color="primary" (click)="addRecord()">Add Record</button> -->
</mat-toolbar>


<table class="table table-striped">

  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>



  <tr *ngFor="let post of dataSource;">
    <td>{{post.id}}</td>
    <td>{{post.description}}</td>
    <td>{{post.status}}</td>
    <td>
      <button mat-icon-button color="primary" (click)="onEditClick(post)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
    <td>
      <button mat-icon-button color="warn" (click)="onDeleteClick(post)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>

  </tr>


</table>